<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>

<div class="nav-bar-buttons">
  <button mat-button id="menuHome" routerLink="home">Home</button>
  <button mat-button id="menuLogin" routerLink="login">Login</button>
  <button mat-button id="menuRegister" routerLink="register">Register</button>
</div>



<!-- <div class="nav-bar-buttons">
  <button type="button" id="menuHome"class="btn btn-outline-dark" routerLink="home">Home</button>
  <button type="button" id="menuLogin" class="btn btn-outline-dark" routerLink="login">Login</button>
  <button type="button" id="menuRegister" class="btn btn-outline-dark" routerLink="register">Register</button>
</div> -->


<router-outlet></router-outlet>