<mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ sitter.firstname }} {{ sitter.lastname}}</mat-card-title>
    <mat-card-subtitle>{{ sitter.gender }}</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://assets.parents.com/s3fs-public/styles/nfp_1080_portrait/public/shutterstock_279876542.jpg?jiZirdZOGi.axMx9KQAx2UAmYqta.Vrm"
    alt="Photo of a Shiba Inu">
<mat-card-content>
    <p>
        My hourly wage is: {{sitter.hourlyWage}}
    </p>
</mat-card-content>
<mat-card-actions>
    <button mat-button (click)="onEditClick(sitter._id)">EDIT</button>
    <button mat-button (click)="onDeleteClick()">DELETE</button>
</mat-card-actions>